* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  font-family: consolas;
}

.container {
  height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-footer {
  width: 1020px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  background-color: #14171a;
}

.canvas-footer {
  color: orangered;
}

canvas {
  border: 10px solid #14171a;
}

button {
  transition: 0.2s linear;
  padding: 5px;
  border-radius: 5px;
  font-family: consolas;
}

button:hover {
  transition: 0.2s linear;
  color: #fff;
}

.pause {
  background-color: orangered;
  color: indigo;
}
.reset {
  background-color: indigo;
  color: orangered;
}
